{{template "main_header" .}}

<style>
.sysinfo .card {
	min-width: 10em;
}
</style>

{{define "syscards"}}
<div class="d-flex flex-row flex-wrap gap-3 p-2 mb-4">
	{{range $e := .Entries}}
	<div class="card">
		<div class="card-header">{{$e.Key}}</div>
		<div class="card-body">{{$e.Value}}</div>
	</div>
	{{end}}
</div>
{{end}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "super.sys"}}<span>{{T .Loc "menu.super.sys"}}</span></h2>
	</div>
	<div class="s-section-body sysinfo">
		<h3><i class="fab fa-fw fa-golang"></i> Runtime</h3>
		{{template "syscards" .Runtime}}

		<h3><i class="fas fa-fw fa-hard-drive"></i> Disk Usage</h3>
		{{template "syscards" .DiskUsage}}

		<h3><i class="fas fa-fw fa-memory"></i> Memory</h3>
		{{template "syscards" .MemStats}}
	</div>
</div>

{{template "main_footer" .}}