{{template "head_pager" .}}

<form autocomplete="off" class="table-responsive">
<table id="tenants_table" class="table ui-sortable s-table"
	data-spy="sortable" data-sorted-col="{{.Q.Sorter.Col}}" data-sorted-dir="{{.Q.Sorter.Dir}}">
	<thead>
		<tr>
			<th class="no">#</th>
			<th class="name sortable" data-sort-col="name">{{T .Loc "tenant.name"}}</th>
			<th class="domain">{{T .Loc "tenant.domain"}}</th>
			<th class="comment sortable" data-sort-col="comment">{{T .Loc "tenant.comment"}}</th>
			<th class="actions"></th>
		</tr>
	</thead>
	<tbody>
		{{$n := .Q.Begin}}
		{{range $i, $t := .Tenants}}
		<tr id="tenant_{{$t.Name}}">
			<td class="no">{{Add $n $i}}</td>
			<td class="name">{{$t.Name}}</td>
			<td class="domain"><a href="//{{$t.Name}}.{{$.Domain}}" target="_blank">{{$t.Name}}.{{$.Domain}}</a></td>
			<td class="comment"><pre>{{$t.Comment}}</pre></td>
			<td class="actions">
				{{if ne $.Tenant $t.Name}}
				<button class="btn btn-outline-secondary edit" title="{{T $.Loc "button.edit"}}"><i class="{{T $.Loc "icon.edit"}}"></i></button>
				<button class="btn btn-outline-secondary delete" title="{{T $.Loc "button.delete"}}"><i class="{{T $.Loc "icon.delete"}}"></i></button>
				{{end}}
			</td>
		</tr>
		{{end}}
	</tbody>
</table>
</form>

<table id="tenants_template" class="hidden">
	<tr>
		<td class="no"></td>
		<td class="name"></td>
		<td class="domain"><a href="#" target="_blank"></a></td>
		<td class="comment"><pre></pre></td>
		<td class="actions">
			<button class="btn btn-outline-secondary edit" title="{{T .Loc "button.edit"}}"><i class="{{T .Loc "icon.edit"}}"></i></button>
			<button class="btn btn-outline-secondary delete" title="{{T $.Loc "button.delete"}}"><i class="{{T $.Loc "icon.delete"}}"></i></button>
		</td>
	</tr>
</table>

{{template "foot_pager" .}}
