{{template "head_pager" .}}

<form autocomplete="off" class="table-responsive">
<table id="files_table" class="table ui-sortable s-table"
	data-spy="sortable" data-sorted-col="{{.Q.Sorter.Col}}" data-sorted-dir="{{.Q.Sorter.Dir}}">
	<thead>
		<tr>
			<th class="check"><input type="checkbox" checkall="#files_table td.check > input"/></th>
			<th class="id sortable" data-sort-col="id">{{T .Loc "file.id"}}</th>
			<th class="name sortable" data-sort-col="name">{{T .Loc "file.name"}}</th>
			<th class="ext sortable" data-sort-col="ext">{{T .Loc "file.ext"}}</th>
			<th class="size sortable" data-sort-col="size">{{T .Loc "file.size"}}</th>
			<th class="time sortable" data-sort-col="time">{{T .Loc "file.time"}}</th>
		</tr>
	</thead>
	<tbody>
		{{range $i, $f := .Files}}
		<tr id="file_{{$f.ID}}">
			<td class="check"><input type="checkbox" value="{{$f.ID}}"/></td>
			<td class="id"><a href="{{$.Base}}/files/preview{{$f.ID}}" target="_blank">{{$f.ID}} {{I "exlink"}}</a></td>
			<td class="name">{{$f.Name}}</td>
			<td class="ext">{{$f.Ext}}</td>
			<td class="size">{{HumanSize $f.Size}}</td>
			<td class="time date">{{TIME $f.Time}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
</form>

{{template "foot_pager" .}}
