{{template "head_pager" .}}

<form autocomplete="off" class="table-responsive">
<table id="auditlogs_table" class="table ui-sortable s-table"
	data-spy="sortable" data-sorted-col="{{.Q.Sorter.Col}}" data-sorted-dir="{{.Q.Sorter.Dir}}">
	<thead>
		<tr>
			{{if .AU.IsSuper}}
			<th class="check"><input type="checkbox" checkall="#auditlogs_table td.check > input"/></th>
			{{end}}
			<th class="no">#</th>
			<th class="datetime sortable" data-sort-col="date">{{T .Loc "auditlog.date"}}</th>
			<th class="user sortable" data-sort-col="user">{{T .Loc "auditlog.user"}}</th>
			<th class="cip sortable" data-sort-col="cip">{{T .Loc "auditlog.cip"}}</th>
			<th class="funact sortable" data-sort-col="func,action">{{T .Loc "auditlog.func"}} / {{T .Loc "auditlog.action"}} </th>
			<th class="detail">{{T .Loc "auditlog.detail"}}</th>
		</tr>
	</thead>
	<tbody>
		{{$n := .Q.Begin}}
		{{range $i, $al := .AuditLogs}}
		<tr id="al_{{$al.ID}}">
			{{if $.AU.IsSuper}}
			<td class="check"><input type="checkbox" value="{{$al.ID}}"/></td>
			{{end}}
			<td class="no">{{Add $n $i}}</td>
			<td class="datetime">{{TIME $al.Date}}</td>
			<td class="userinfo" colspan="2">{{$al.User}}<br>{{$al.CIP}}</td>
			<td class="funact">{{$.AuditLogFuncMap.SafeGet $al.Func $al.Func}} / {{$al.Action}}</td>
			<td class="detail">{{$al.Detail}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
</form>

{{template "foot_pager" .}}
