#sql_results {
	margin-top: 40px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
#sql_results > li {
	margin-bottom: 40px;
}
#sql_results .card-header, #sql_results .card-body {
	white-space: pre-wrap;
}