{{MapSet .Ctx.Attrs "ascripts" (Array "demos/tests.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "tests"}}<span>{{T .Loc "menu.tests"}}</span></h2>
	</div>
	<div class="s-section-body" id="tests">
		<div class="s-menu">
			<a class="s-menu-item" href="#crash">{{I "tests.crash" "fa-4x"}}<div>Crash</div></a>
			<a class="s-menu-item" href="#panic">{{I "tests.panic" "fa-4x"}}<div>Panic</div></a>
			<a class="s-menu-item" href="#outofmemory">{{I "tests.outofmemory" "fa-4x"}}<div>OOM</div></a>
			<a class="s-menu-item" href="#stackoverflow">{{I "tests.stackoverflow" "fa-4x"}}<div>Stack Overflow</div></a>
		</div>
	</div>
</div>

{{template "main_footer" .}}