{{define "header"}}
<div id="header" class="navbar navbar-default navbar-fixed-top navbar-light bg-light navbar-expand-lg border-bottom fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target="#navbar_main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{.Base}}/" class="navbar-brand">{{T .Locale "title"}}</a> 
		</div>
		<div class="navbar-collapse collapse mr-auto justify-content-end" id="navbar_main">
			<ul class="nav navbar-nav navbar-right">
			</ul>
		</div>
	</div>
</div>
{{end}}
