{{define "head"}}
<head>
<title>{{T .Loc "title"}}</title>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src * 'unsafe-inline'; font-src *; img-src * data:; media-src *"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#337ab7"/>
<meta property="xdemo:base" content="{{.Base}}"/>
<meta property="xdemo:domain" content="{{.Domain}}"/>
<meta property="xdemo:token" content="{{.Token}}"/>
<link rel="shortcut icon" href="{{.Base}}/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{{.Base}}/static/bootstrap5/css/bootstrap.min.css?r={{.REV}}"/>
{{/*<link rel="stylesheet" type="text/css" href="{{.Base}}/static/bootswatch5/cosmo/bootstrap.min.css?r={{.REV}}"/>*/}}
{{/*<link rel="stylesheet" type="text/css" href="{{.Base}}/static/bootswatch5/flatly/bootstrap.min.css?r={{.REV}}"/>*/}}
{{/*<link rel="stylesheet" type="text/css" href="{{.Base}}/static/bootswatch5/pulse/bootstrap.min.css?r={{.REV}}"/>*/}}
<link rel="stylesheet" type="text/css" href="{{.Base}}/static/fontawesome6/css/all.min.css?r={{.REV}}"/>
<link rel="stylesheet" type="text/css" href="{{.Base}}/static/plugins/css/plugins.min.css?r={{.REV}}"/>
<link rel="stylesheet" type="text/css" href="{{.Base}}/assets/main.css?r={{.REV}}"/>
{{range $s := .Ctx.Attrs.sstyles}}
<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$s}}?r={{$.REV}}"/>
{{end}}
{{range $s := .Ctx.Attrs.astyles}}
<link rel="stylesheet" type="text/css" href="{{$.Base}}/assets/{{$s}}?r={{$.REV}}"/>
{{end}}
</head>
{{end}}
