{{define "headnavi"}}
<div id="headnavi" class="d-flex align-items-center justify-content-end">
	<div class="theme">
		<div class="btn-group btn-group-sm">
			<a class="btn btn-outline-primary" href="#light" title="{{T .Loc "theme.light"}}"><i class="fa-fw fas fa-sun"></i></a>
			<a class="btn btn-outline-primary active" href="#dark" title="{{T .Loc "theme.dark"}}"><i class="fa-fw fas fa-moon"></i></a>
		</div>
	</div>
	<div class="maindrop dropdown">
		<button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
			<i class="fas fa-bars"></i>
		</button>
		<ul class="dropdown-menu dropdown-menu-end">
			<li><a class="dropdown-item" href="{{.Base}}/demos/tags/">{{I "demos.tags"}}<span>{{T .Loc "menu.demos.tags"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/uploads/">{{I "demos.uploads"}}<span>{{T .Loc "menu.demos.uploads"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/chiconv/">{{I "demos.chiconv"}}<span>{{T .Loc "menu.demos.chiconv"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/403/"><i class="fas fa-ban"></i><span>403</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/404/"><i class="fas fa-compass"></i><span>404</span></a></li>
			<li class="divider"></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/">{{I "demos.pets.list"}}<span>{{T .Loc "menu.demos.pets.list"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/clear/">{{I "demos.pets.clear"}}<span>{{T .Loc "menu.demos.pets.clear"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/catcreate/">{{I "demos.pets.catcreate"}}<span>{{T .Loc "menu.demos.pets.catcreate"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/dogcreate/">{{I "demos.pets.dogcreate"}}<span>{{T .Loc "menu.demos.pets.dogcreate"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/demos/pets/jobs/reset/">{{I "demos.pets.reset"}}<span>{{T .Loc "menu.demos.pets.reset"}}</span></a></li>
		</ul>
	</div>
	{{if .AU}}
	<div class="userdrop dropdown">
		<button class="username btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" title="{{.AU.DisplayName}}">
			{{.AU.Initials}}
		</button>
		<ul class="dropdown-menu dropdown-menu-end">
			{{if and .TT.IsDefault .AU.IsSuper}}
			{{if eq .CFG.tenant.multiple "true"}}
			<li><a class="dropdown-item" href="{{.Base}}/s/tenants/">{{I "super.tenants"}}<span>{{T .Loc "menu.super.tenants"}}</span></a></li>
			{{end}}
			<li><a class="dropdown-item" href="{{.Base}}/s/job/">{{I "super.job"}}<span>{{T .Loc "menu.super.job"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/s/shell/">{{I "super.shell"}}<span>{{T .Loc "menu.super.shell"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/s/sql/">{{I "super.sql"}}<span>{{T .Loc "menu.super.sql"}}</span></a></li>
			<li class="divider"></li>
			{{end}}
			{{if .AU.IsAdmin}}
			<li><a class="dropdown-item" href="{{.Base}}/a/users/">{{I "admin.users"}}<span>{{T .Loc "menu.admin.users"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/a/config/">{{I "admin.config"}}<span>{{T .Loc "menu.admin.config"}}</span></a></li>
			<li class="divider"></li>
			{{end}}
			<li><a class="dropdown-item" href="{{.Base}}/u/pwdchg/">{{I "user.pwdchg"}}<span>{{T .Loc "menu.user.pwdchg"}}</span></a></li>
			<li><a class="dropdown-item" href="{{.Base}}/login/logout">{{I "logout"}}<span>{{T .Loc "menu.logout"}}</span></a></li>
		</ul>
	</div>
	{{else}}
	<div>
		<a class="btn btn-primary" href="{{.Base}}/login/">
			{{I "login"}}
			<span>{{T .Loc "menu.login"}}</span>
		</a>
	</div>
	{{end}}
</div>
{{end}}
