{{define "head"}}
<head>
<title>{{if .Ctx.Attrs.title}}{{.Ctx.Attrs.title}} | {{end}}{{T .Loc "sitename"}}</title>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src * 'unsafe-inline'; font-src *; img-src * blob: data:; media-src *"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#337ab7"/>
<meta property="xdemo:base" content="{{$.Base}}"/>
<meta property="xdemo:domain" content="{{$.Domain}}"/>
<meta property="xdemo:token" content="{{$.Token}}"/>
<link rel="shortcut icon" href="{{$.Base}}/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$.REV}}/bootstrap5/css/bootstrap.min.css"/>
{{/*<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$.REV}}/bootswatch5/cosmo/bootstrap.min.css"/>*/}}
{{/*<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$.REV}}/bootswatch5/flatly/bootstrap.min.css"/>*/}}
{{/*<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$.REV}}/bootswatch5/pulse/bootstrap.min.css"/>*/}}
<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$.REV}}/fontawesome6/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$.REV}}/plugins/css/plugins.min.css"/>
<link rel="stylesheet" type="text/css" href="{{$.Base}}/assets/{{$.REV}}/main.css"/>
{{range $s := .Ctx.Attrs.sstyles}}
<link rel="stylesheet" type="text/css" href="{{$.Base}}/static/{{$.REV}}/{{$s}}"/>
{{end}}
{{range $s := .Ctx.Attrs.astyles}}
<link rel="stylesheet" type="text/css" href="{{$.Base}}/assets/{{$.REV}}/{{$s}}"/>
{{end}}
</head>
{{end}}
