{{define "sidenavi"}}
<div id="sidenavi">
	<div class="mainnavi ui-sidenavi minimal">
		<div id="navi_demos_pets" class="card">
			<div class="card-header">
				<div>{{I "demos.pets"}}<span>{{T .Loc "menu.demos.pets"}}</span></div>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/">{{I "demos.pets.list"}}<span>{{T .Loc "menu.demos.pets.list"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/catgen/">{{I "demos.pets.create.cat"}}<span>{{T .Loc "menu.demos.pets.create.cat"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/doggen/">{{I "demos.pets.create.dog"}}<span>{{T .Loc "menu.demos.pets.create.dog"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/clear/">{{I "demos.pets.clear"}}<span>{{T .Loc "menu.demos.pets.clear"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/reset/">{{I "demos.pets.reset"}}<span>{{T .Loc "menu.demos.pets.reset"}}</span></a></li>
				</ul>
			</div>
		</div>

		<div id="navi_demos_samples" class="card">
			<div class="card-header">
				<div>{{I "demos"}}<span>{{T .Loc "menu.demos"}}</span></div>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/files/">{{I "demos.files"}}<span>{{T .Loc "menu.demos.files"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/tags/">{{I "demos.tags"}}<span>{{T .Loc "menu.demos.tags"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/chiconv/">{{I "demos.chiconv"}}<span>{{T .Loc "menu.demos.chiconv"}}</span></a></li>
					{{if and .AU .AU.IsAdmin}}
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/tests/">{{I "demos.tests"}}<span>{{T .Loc "menu.demos.tests"}}</span></a></li>
					{{end}}
				</ul>
			</div>
		</div>

		<div id="navi_demos_errors" class="card">
			<div class="card-header">
				<div>{{I "errors"}}<span>{{T .Loc "menu.errors"}}</span></div>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/e/403">{{I "ban"}}<span>403</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/e/404">{{I "question"}}<span>404</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/e/500">{{I "error"}}<span>500</span></a></li>
				</ul>
			</div>
		</div>

		{{if and .AU .AU.IsAdmin}}
		<div id="navi_admin" class="card">
			<div class="card-header">
				<a href="{{.Base}}/a/">{{I "admin"}}<span>{{T .Loc "menu.admin"}}</span></a>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/a/users/">{{I "admin.users"}}<span>{{T .Loc "menu.admin.users"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/a/auditlogs/">{{I "admin.auditlogs"}}<span>{{T .Loc "menu.admin.auditlogs"}}</span></a></li>
					{{if and .TT.IsDefault .AU .AU.IsSuper}}
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/s/">{{I "super"}}<span>{{T .Loc "menu.super"}}</span></a></li>
					{{end}}
				</ul>
			</div>
		</div>
		{{end}}
	</div>

	{{if and .AU .AU.IsAdmin}}
	<div class="footnavi ui-sidenavi minimal">
		<div class="card">
			<div class="card-header"></div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/a/configs/">{{I "admin.configs"}}<span>{{T .Loc "menu.admin.configs"}}</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	{{end}}
</div>
{{end}}
