{{define "sidenavi"}}
<div id="sidenavi">
	<div class="mainnavi ui-sidenavi minimal">
		<div id="navi_demos" class="card">
			<div class="card-header">
				<div>{{I "demos"}}<span>{{T .Loc "menu.demos"}}</span></div>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/tags/">{{I "demos.tags"}}<span>{{T .Loc "menu.demos.tags"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/uploads/">{{I "demos.uploads"}}<span>{{T .Loc "menu.demos.uploads"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/chiconv/">{{I "demos.chiconv"}}<span>{{T .Loc "menu.demos.chiconv"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/403/">{{I "ban"}}<span>403</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/404/">{{I "compass"}}<span>404</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/500/">{{I "error"}}<span>500</span></a></li>
				</ul>
			</div>
		</div>

		<div id="navi_demos_pets" class="card">
			<div class="card-header">
				<div>{{I "demos.pets"}}<span>{{T .Loc "menu.demos.pets"}}</span></div>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/">{{I "demos.pets.list"}}<span>{{T .Loc "menu.demos.pets.list"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/clear/">{{I "demos.pets.clear"}}<span>{{T .Loc "menu.demos.pets.clear"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/catcreate/">{{I "demos.pets.create.cat"}}<span>{{T .Loc "menu.demos.pets.create.cat"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/dogcreate/">{{I "demos.pets.create.dog"}}<span>{{T .Loc "menu.demos.pets.create.dog"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/demos/pets/jobs/reset/">{{I "demos.pets.reset"}}<span>{{T .Loc "menu.demos.pets.reset"}}</span></a></li>
				</ul>
			</div>
		</div>

		{{if and .TT.IsDefault .AU .AU.IsSuper}}
		<div id="navi_super" class="card">
			<div class="card-header">
				<a href="{{.Base}}/s/">{{I "super"}}<span>{{T .Loc "menu.super"}}</span></a>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					{{if eq .CFG.tenant.multiple "true"}}
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/s/tenants/">{{I "super.tenants"}}<span>{{T .Loc "menu.super.tenants"}}</span></a></li>
					{{end}}
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/s/job/">{{I "super.job"}}<span>{{T .Loc "menu.super.job"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/s/shell/">{{I "super.shell"}}<span>{{T .Loc "menu.super.shell"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/s/sql/">{{I "super.sql"}}<span>{{T .Loc "menu.super.sql"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/s/debug/">{{I "super.debug"}}<span>{{T .Loc "menu.super.debug"}}</span></a></li>
				</ul>
			</div>
		</div>
		{{end}}
	</div>

	{{if and .AU .AU.IsAdmin}}
	<div class="footnavi ui-sidenavi minimal">
		<div id="navi_admin" class="card">
			<div class="card-header">
				<a href="{{.Base}}/a/">{{I "admin"}}<span>{{T .Loc "menu.admin"}}</span></a>
			</div>
			<div class="card-body">
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/a/users/">{{I "admin.users"}}<span>{{T .Loc "menu.admin.users"}}</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{.Base}}/a/configs/">{{I "admin.configs"}}<span>{{T .Loc "menu.admin.configs"}}</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	{{end}}
</div>
{{end}}
