{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-body">
		<div class="well">{{T .Loc "well"}}</div>

		<div class="s-menu">
			<hr>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/">{{I "demos.pets.list"}}<div>{{T .Loc "menu.demos.pets.list"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/catgen/">{{I "demos.pets.create.cat"}}<div>{{T .Loc "menu.demos.pets.create.cat"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/doggen/">{{I "demos.pets.create.dog"}}<div>{{T .Loc "menu.demos.pets.create.dog"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/clear/">{{I "demos.pets.clear"}}<div>{{T .Loc "menu.demos.pets.clear"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/reset/">{{I "demos.pets.reset"}}<div>{{T .Loc "menu.demos.pets.reset"}}</div></a>

			<hr>
			<a class="s-menu-item" href="{{.Base}}/demos/files/">{{I "demos.files"}}<div>{{T .Loc "menu.demos.files"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/tags/">{{I "demos.tags"}}<div>{{T .Loc "menu.demos.tags"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/chiconv/">{{I "demos.chiconv"}}<div>{{T .Loc "menu.demos.chiconv"}}</div></a>

			{{if and .AU .AU.IsAdmin}}
			<hr>
			<a class="s-menu-item" href="{{.Base}}/tests/">{{I "tests"}}<div>{{T .Loc "menu.tests"}}</div></a>
			{{end}}
		</div>
	</div>
</div>

{{template "main_footer" .}}