{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-body">
		<div class="well">{{T .Loc "well"}}</div>

		<div class="s-menu">
			<hr>
			<a class="s-menu-item" href="{{.Base}}/demos/tags/">{{I "demos.tags" "fa-4x"}}<div>{{T .Loc "menu.demos.tags"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/uploads/">{{I "demos.uploads" "fa-4x"}}<div>{{T .Loc "menu.demos.uploads"}}</div></a>
	
			<hr>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/">{{I "demos.pets.list" "fa-4x"}}<div>{{T .Loc "menu.demos.pets.list"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/catcreate/">{{I "demos.pets.create.cat" "fa-4x"}}<div>{{T .Loc "menu.demos.pets.create.cat"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/dogcreate/">{{I "demos.pets.create.dog" "fa-4x"}}<div>{{T .Loc "menu.demos.pets.create.dog"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/clear/">{{I "demos.pets.clear" "fa-4x"}}<div>{{T .Loc "menu.demos.pets.clear"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/demos/pets/jobs/reset/">{{I "demos.pets.reset" "fa-4x"}}<div>{{T .Loc "menu.demos.pets.reset"}}</div></a>
		</div>
	</div>
</div>

{{template "main_footer" .}}