{{template "main_header" .}}

<div class="s-section">
	<div class="well">{{T .Loc "well"}}</div>

	<div class="ui-menu">
		<a class="ui-menu-item" href="{{.Base}}/demos/pets/"><i class="fa-4x {{T .Loc "icon.demos.pets"}}"></i><div>{{T .Loc "menu.demos.pets"}}</div></a>
		<a class="ui-menu-item" href="{{.Base}}/demos/tags/"><i class="fa-4x {{T .Loc "icon.demos.tags"}}"></i><div>{{T .Loc "menu.demos.tags"}}</div></a>
		<a class="ui-menu-item" href="{{.Base}}/demos/uploads/"><i class="fa-4x {{T .Loc "icon.demos.uploads"}}"></i><div>{{T .Loc "menu.demos.uploads"}}</div></a>
	</div>
</div>

{{template "main_footer" .}}