{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-body">
		<div class="well">{{T .Loc "admin.well"}}</div>

		<div class="s-menu">
		{{if and .AU .AU.IsAdmin}}
			<hr>
			<a class="s-menu-item" href="{{.Base}}/a/config/">{{I "admin.config" "fa-4x"}}<div>{{T .Loc "menu.admin.config"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/a/users/">{{I "admin.users" "fa-4x"}}<div>{{T .Loc "menu.admin.users"}}</div></a>
		{{end}}

		{{if and .AU .AU.IsSuper}}
			<hr/>
			{{if and .TT.IsDefault (eq .CFG.tenant.multiple "true")}}
			<a class="s-menu-item" href="{{.Base}}/s/tenants/">{{I "super.tenants" "fa-4x"}}<div>{{T .Loc "menu.super.tenants"}}</div></a>
			{{end}}
			<a class="s-menu-item" href="{{.Base}}/s/job/">{{I "super.job" "fa-4x"}}<div>{{T .Loc "menu.super.job"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/s/shell/">{{I "super.shell" "fa-4x"}}<div>{{T .Loc "menu.super.shell"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/s/sql/">{{I "super.sql" "fa-4x"}}<div>{{T .Loc "menu.super.sql"}}</div></a>
		{{end}}
		</div>
	</div>
</div>

{{template "main_footer" .}}