{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "admin"}}<span>{{T .Loc "menu.admin"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div class="s-menu">
			<a class="s-menu-item" href="{{.Base}}/a/users/">{{I "admin.users"}}<div>{{T .Loc "menu.admin.users"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/a/auditlogs/">{{I "admin.auditlogs"}}<div>{{T .Loc "menu.admin.auditlogs"}}</div></a>
			<a class="s-menu-item" href="{{.Base}}/a/configs/">{{I "admin.configs"}}<div>{{T .Loc "menu.admin.configs"}}</div></a>
		</div>
	</div>
</div>

{{template "main_footer" .}}