{{MapSet .Ctx.Attrs "styles" (Array "admin/users.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "admin/users.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="ui-headline">
		<ol class="breadcrumb">
			<li class="active"><i class="{{T .Loc "icon.admin.users"}}"></i> {{T .Loc "menu.admin.users"}}</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-md-6 ui-toolbar">
			<button class="btn btn-sm btn-outline-danger" popup-target="#users_deletesel_popup" enableby="#users_list td.check input">
				<i class="{{T .Loc "icon.deletesel"}}"></i> {{T .Loc "button.deletesel"}}
			</button>
			<button class="btn btn-sm btn-outline-danger" popup-target="#users_deleteall_popup">
				<i class="{{T .Loc "icon.deleteall"}}"></i> {{T .Loc "button.deleteall"}}
			</button>
			<button class="btn btn-sm btn-outline-primary" id="users_editsel" enableby="#users_list td.check input">
				<i class="{{T .Loc "icon.editsel"}}"></i> {{T .Loc "button.editsel"}}
			</button>
			<button class="btn btn-sm btn-outline-primary" id="users_editall">
				<i class="{{T .Loc "icon.editall"}}"></i> {{T .Loc "button.editall"}}
			</button>
		</div>
		<div class="col-md-6 ui-toolbar text-end">
			<button id="users_new" class="btn btn-sm btn-outline-primary"><i class="{{T .Loc "icon.new"}}"></i> {{T .Loc "button.new"}}</button>
			<a class="btn btn-sm btn-outline-primary" href="./import/"><i class="{{T .Loc "icon.upload"}}"></i> {{T .Loc "button.import"}}</a>
			<button id="users_export" class="btn btn-sm btn-outline-primary"><i class="{{T .Loc "icon.dnload"}}"></i> {{T .Loc "button.export"}}</button>
		</div>
	</div>

	<div id="users_alert">{{template "alerts" .}}</div>
	
	<fieldset id="users_listfset" class="ui-fieldset collapsed" data-spy="fieldset">
		<legend>{{T .Loc "button.search"}}</legend>
		<form id="users_listform" class="form-horizontal grey" method="POST">
			<input type="hidden" name="_token_" value="{{.Token}}"/>
			<input type="hidden" name="p" value="{{.Q.Page}}"/>
			<input type="hidden" name="l" value="{{.Q.Limit}}"/>
			<input type="hidden" name="c" value="{{.Q.Col}}"/>
			<input type="hidden" name="d" value="{{.Q.Dir}}"/>

			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "user.id"}}</label>
				<div class="col-sm-10">
					<input name="id" type="text" class="form-control" textclear value="{{if ne .Q.ID 0}}{{.Q.ID}}{{end}}"/>
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "user.name"}}</label>
				<div class="col-sm-10">
					<input name="name" type="text" class="form-control" textclear value="{{.Q.Name}}"/>
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "user.email"}}</label>
				<div class="col-sm-10">
					<input name="email" type="text" class="form-control" textclear value="{{.Q.Email}}"/>
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "user.cidr"}}</label>
				<div class="col-sm-10">
					<input name="cidr" type="text" class="form-control" textclear value="{{.Q.CIDR}}"/>
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "user.role"}}</label>
				<div class="col-sm-10">
					{{Checks "List=" .UserRoleMap.Iterator "Name=" "role" "Values=" .Q.Role}}
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "user.status"}}</label>
				<div class="col-sm-10">
					{{Checks "List=" .UserStatusMap.Iterator "Name=" "status" "Values=" .Q.Status}}
				</div>
			</div>
			<div class="row py-1">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" class="btn btn-primary"><i class="{{T .Loc "icon.search"}}"></i> {{T .Loc "button.search"}}</button>
					<button type="reset" class="btn btn-secondary"><i class="{{T .Loc "icon.clear"}}"></i> {{T .Loc "button.clear"}}</button>
				</div>
			</div>
		</form>
	</fieldset>

	<div id="users_list"></div>
</div>

<div id="user_maps" class="hidden"
	data-status="{{JSON .UserStatusMap}}"
	data-role="{{JSON .UserRoleMap}}"
></div>

<div id="users_deletesel_popup" class="ui-popup s-popup-confirm" data-spy="popup" tabindex="-1"
	popup-mask="true" popup-mouse="false">
	<form>
		<div class="ui-popup-body">
			<i class="icon fas fa-2x fa-fw fa-circle-exclamation text-danger"></i>
			<div class="msg">{{T .Loc "user.confirm.deletesel"}}</div>
		</div>
		<div class="ui-popup-footer">
			<button type="submit" class="btn btn-danger"><i class="fas fa-check"></i> {{T .Loc "button.ok"}}</button>
			<button type="button" class="btn btn-secondary" popup-dismiss="true"><i class="fas fa-times"></i> {{T .Loc "button.cancel"}}</button>
		</div>
	</form>
</div>

<div id="users_deleteall_popup" class="ui-popup s-popup-confirm" data-spy="popup" tabindex="-1"
	popup-mask="true" popup-mouse="false">
	<form>
		<div class="ui-popup-body">
			<i class="icon fas fa-2x fa-fw fa-exclamation-triangle text-danger"></i>
			<div class="msg">{{T .Loc "user.confirm.deleteall"}}</div>
		</div>
		<div class="ui-popup-footer">
			<button type="submit" class="btn btn-danger"><i class="fas fa-check"></i> {{T .Loc "button.ok"}}</button>
			<button type="button" class="btn btn-secondary" popup-dismiss="true"><i class="fas fa-times"></i> {{T .Loc "button.cancel"}}</button>
		</div>
	</form>
</div>

<div id="users_bulkedit_popup" class="ui-popup s-popup-detail w800" data-spy="popup" tabindex="-1"
	popup-position="center" popup-mouse="false">
	<div class="ui-popup-body">
		<h4><i class="editsel {{T .Loc "icon.editsel"}}"></i><i class="editall {{T .Loc "icon.editall"}}"></i>
			<span class="editsel">{{T .Loc "button.editsel"}}</span>
			<span class="editall">{{T .Loc "button.editall"}}</span>
		</h4>
	</div>
	<form class="ui-popup-body form-horizontal grey lined" autocomplete="off">
		<input type="hidden" name="_token_" value="{{.Token}}"/>
		<input type="hidden" name="id"/>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Loc "user.role"}} <input type="checkbox"></label>
			<div class="col-sm-10">
				{{Radios "Name=" "role" "List=" .UserRoleMap.Iterator "Value=" "V" "Disabled=" true}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Loc "user.status"}} <input type="checkbox"></label>
			<div class="col-sm-10">
				{{Radios "Name=" "status" "List=" .UserStatusMap.Iterator "Value=" "A" "Disabled=" true}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Loc "user.cidr"}} <input type="checkbox" name="ucidr" value="true"></label>
			<div class="col-sm-10">
				<textarea name="cidr" class="form-control" rows="2" disabled enterfire textclear></textarea>
			</div>
		</div>
		<button type="submit" class="hidden" enableby="#users_bulkedit_popup .col-form-label > input"></button>
	</form>
	<div class="ui-popup-footer">
		<button type="submit" class="btn btn-primary" enableby="#users_bulkedit_popup .col-form-label > input"><i class="fas fa-save"></i> {{T .Loc "button.update"}}</button>
		<button type="button" class="btn btn-secondary" popup-dismiss="true"><i class="fas fa-times"></i> {{T .Loc "button.cancel"}}</button>
	</div>
</div>

<div id="users_detail_popup" class="ui-popup s-popup-detail w800" data-spy="popup" tabindex="-1"
	popup-position="center" popup-keyboard="false" popup-mouse="false" popup-mask="false" popup-closer="true" popup-loader="true"
	popup-focus="#user_detail_name"></div>

{{template "main_footer" .}}