{{MapSet .Ctx.Attrs "styles" (Array "admin/jobctrl.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "admin/jobctrl.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="ui-headline">
		<ol class="breadcrumb">
			<li class="active"><i class="{{T .Loc "icon.admin.users.import"}}"></i> {{T .Loc "menu.admin.users.import"}}</li>
		</ol>
	</div>

	<div class="ui-toolbar text-end">
		<a class="btn btn-sm btn-secondary" href="./sample" target="_blank"><i class="fa fa-download"></i> {{T .Loc "button.sample"}}</a>
	</div>

	<div class="well">{{T .Loc "user.import.csv.well"}}</div>

	<fieldset data-spy="fieldset">
		<legend>{{T .Loc "user.import.csv.legend"}}</legend>
		<form id="job_form" class="form-horizontal grey" enctype="multipart/form-data" autocomplete="off" data-abort="{{T .Loc "button.stop"}}">
			<input type="hidden" name="_token_" value="{{.Token}}"/>
			<div class="row py-3">
				<label class="col-sm-3 col-form-label">{{T .Loc "user.import.csv.file"}}</label>
				<div class="col-sm-9">
					<input type="file" name="file" accept=".csv" class="form-control">
				</div>
			</div>
		</form>
	</fieldset>

	<div class="text-center">
		<button id="job_start" class="btn btn-primary" disabled><i class="fas fa-play"></i> {{T .Loc "button.start"}}</button>
	</div>

	<div id="job_list"></div>
</div>

{{template "main_footer" .}}