{{MapSet .Ctx.Attrs "styles" (Array "admin/jobctrl.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "admin/jobctrl.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="ui-headline">
		<ol class="breadcrumb">
			<li class="active"><i class="{{T .Loc "icon.admin.users.import"}}"></i>{{T .Loc "menu.admin.users.import"}}</li>
		</ol>
	</div>

	<div class="ui-toolbar text-end">
		<a class="btn btn-sm btn-outline-secondary" href="./sample" target="_blank"><i class="{{T .Loc "icon.dnload"}}"></i> {{T .Loc "button.sample"}}</a>
	</div>

	<div class="well">{{T .Loc "user.import.csv.well"}}</div>

	<fieldset data-spy="fieldset">
		<legend>{{T .Loc "user.import.csv.legend"}}</legend>
		<form id="job_form" class="form-horizontal grey" enctype="multipart/form-data" autocomplete="off">
			<input type="hidden" name="_token_" value="{{.Token}}"/>
			<div class="row py-2">
				<label class="col-md-3 col-form-label">{{T .Loc "user.import.csv.file"}}</label>
				<div class="col-md-9">
					<input type="file" name="file" accept=".csv" class="form-control">
				</div>
			</div>
		</form>
	</fieldset>

	<div class="text-center">
		<button id="job_start" class="btn btn-success" disabled data-processing="{{T .Loc "button.processing"}}"><i class="{{T .Loc "icon.start"}}"></i> <span>{{T .Loc "button.start"}}</span></button>
		<button id="job_abort" class="btn btn-danger" disabled><i class="{{T .Loc "icon.stop"}}"></i> {{T .Loc "button.stop"}}</button>
	</div>

	<fieldset id="job_history" class="ui-fieldset collapsed" data-spy="fieldset">
		<legend>{{T .Loc "job.label.history"}}</legend>
		<div id="job_tabs">
			<ul class="nav nav-pills"></ul>
		</div>
	</fieldset>

	<div id="job_list" class="tab-content"></div>
</div>

{{template "main_footer" .}}