/** bootstrap5 (default) **/
:root, [data-bs-theme=light] {
	/* --blue: #2c3e50;
	--bs-primary: #2c3e50;
	--bs-primary-rgb: 44, 62, 80; */
	--blue: #337ab7;
	--bs-primary: #337ab7;
	--bs-primary-rgb: 51, 122, 183;
	--bs-link-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-link-hover-color: #23527c;
	--bs-link-hover-color-rgb: 35, 82, 124;
	--bs-focus-ring-color: rgba(29, 96, 145, 0.25);
}
.btn-primary {
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
}
.btn-outline-primary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-disabled-color: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}
.pagination {
	--bs-pagination-active-bg: var(--bs-primary);
	--bs-pagination-active-border-color: var(--bs-primary);
}
.nav-pills {
	--bs-nav-pills-link-active-bg: var(--bs-primary);
}

/** bootswatch5 (cosmo)
[data-bs-theme=dark] .btn-outline-secondary {
	--bs-btn-color: #aaa;
	--bs-btn-border-color: #aaa;
	--bs-btn-hover-bg: #aaa;
	--bs-btn-hover-border-color: #aaa;
	--bs-btn-active-bg: #aaa;
	--bs-btn-active-border-color: #aaa;
	--bs-btn-disabled-color: #aaa;
	--bs-btn-disabled-border-color: #aaa;
}
**/

/** bootswatch5 (pulse)
[data-bs-theme=dark] .dropdown-menu {
	--bs-dropdown-link-color: #ccc;
}
[data-bs-theme=dark] .btn-outline-primary {
	--bs-btn-color: #ac8edb;
	--bs-btn-border-color: #ac8edb;
	--bs-btn-disabled-color: #ac8edb;
	--bs-btn-disabled-border-color:#ac8edb;
}
**/


/** layout **/
* {
	scrollbar-width: thin;
}
body {
	background-color: var(--bs-secondary-bg);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 50px; /* for #header.fixed-top */
}

#header {
	background-color: var(--bs-body-bg);
	border-radius: 0;
	margin: 0;
	padding: 0;
	height: 50px;
	/* z-index: 1; */ /* set z-index if header is not fixed-top */
}
#header .brand {
	color: inherit;
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
	left: 20px;
	position: absolute;
	text-decoration: none;
}
#header .brand > img {
	margin: 1px 12px 1px 0;
	vertical-align: top;
}
@media (max-width: 767px) {
	#header .brand > span {
		display: none;
	}
}

#headnavi {
	height: 100%;
	margin: 0;
}
#headnavi > div {
	margin-right: 15px;
}
#headnavi .maindrop {
	display: none;
}
@media (max-width: 767px) {
	#headnavi .maindrop {
		display: flex;
	}
}
#headnavi .username {
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	width: 48px;
	height: 48px;
	margin-right: 10px;
}
#headnavi .username.dropdown-toggle::after {
	border-top-color: var(--bs-primary);
	font-size: 18px;
	position: absolute;
	right: 0px;
	bottom: 8px;
}
#headnavi .username:hover {
	border-color: var(--bs-btn-hover-bg);
}
#headnavi .username.dropdown-toggle:hover::after {
	border-top-color: var(--bs-btn-hover-bg);
}

#sidenavi {
	background-color: var(--bs-primary);
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 50px 0 0 0;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 250px;
}
#sidenavi > .ui-sidenavi {
	padding: 25px 15px 5px 15px;
}
#sidenavi > .mainnavi {
	overflow-y: auto;
	margin-bottom: 30px;
}
#sidenavi > .footnavi {
	margin-top: auto;
	margin-bottom: 0;
}

#content {
	padding: 25px 25px 50px 25px;
	margin: 0 0 0 250px;
	width: auto;
}

#footer {
	border-top: solid 1px var(--bs-border-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin-top: auto;
	margin-bottom: 0;
	margin-left: 250px;
	position: relative;
	width: auto;
}
#footnavi {
	padding-top: 15px;
	text-align: center;
}
#footsite {
	padding: 5px 10px;
	text-align: center;
	z-index: 1;
}
#footer .cpr, #footer .pwr, #footer .ver {
	font-size: 80%;
	white-space: nowrap;
}
#footer .ver {
	color: #999;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

@media (max-width: 991px) {
	#content {
		margin-left: 48px;
		padding: 20px;
	}
	#sidenavi {
		width: auto;
	}
	#sidenavi > .ui-sidenavi {
		padding-left: 5px;
		padding-right: 5px;
	}
	#footer {
		margin-left: 48px;
	}
}
@media (max-width: 767px) {
	#content {
		margin-left: 0;
		padding: 15px;
	}
	#sidenavi {
		display: none;
	}
	#footer {
		margin-left: 0;
	}
}
.nosidenavi #content {
	margin: 0px;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.nosidenavi #footer {
	margin-left: 0;
}


/** sidenavi **/
.ui-sidenavi .card-header {
	border-bottom: solid 1px #fff;
}
.ui-sidenavi .card-header, .ui-sidenavi .card-body {
	color: #fff;
}
.ui-sidenavi a {
	color: #fff;
}
.ui-sidenavi ul.nav > li > a:focus, .ui-sidenavi ul.nav > li > a:hover {
	background-color: var(--bs-secondary-bg);
}

/** section **/
.s-section {
	margin-bottom: 40px;
}
.s-section-head {
	padding: 10px;
	margin-bottom: 10px;
}
.s-section-head > * {
	background-color: transparent;
	font-size: 1.5rem;
	line-height: 1.5rem;
	padding: 0;
	margin: 0;
}
.s-section-head > h2 > * {
	vertical-align: middle;
}
.s-section-head i {
	font-size: 125%;
	margin-right: 8px;
}
.s-section-body {
	background-color: var(--bs-body-bg);
	border-radius: 12px;
	padding: 25px;
}

/** well **/
.well {
	min-height: 20px;
	margin-bottom: 20px;
	padding: 10px 0;
	white-space: pre-wrap;
}

/** dropdown menu **/
/* copy from bootstrap3 */
.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.dropdown-menu > li > a > i {
	margin-right: 8px;
}

/** nav-popup **/
.nav.nav-popup {
	margin: 5px;
}
.nav.nav-popup > li > a {
	padding: 3px 5px;
}
.nav.nav-popup > li > a > i {
	margin-right: 8px;
}
.nav.nav-popup > li > hr {
	margin: 5px 0;
}

/** form **/
form div.desc, form div.verr {
	margin-top: 5px;
	margin-bottom: 5px;
	white-space: pre-wrap;
}
form div.verr {
	color: #a94442;
}
.ui-fieldset > legend.circle > i {
	margin-right: 8px;
}
.input-group.w-auto {
	display: inline-flex;
}

/** color **/
.grey {
	background-color: var(--bs-tertiary-bg);
}

/** sizeing **/
.padded {
	padding: 15px;
}

/** toolbar **/
.s-toolbar {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}
.s-toolbar > * {
	margin: 0 5px 5px 0;
}
.s-toolbar-rt {
	position: absolute;
	right: 50px;
	text-align: right;
}

/** menu **/
.s-menu-item {
	background-color: #eee;
	display: inline-block;
	width: 130px;
	height: 120px;
	padding: 10px;
	margin: 10px;
	border: solid 1px #ccc;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}
.s-menu-item:hover {
	background-color: #FFF8DC;
	text-decoration: none;
}
.s-menu-item > div {
	line-height: 1em;
	padding: 10px 0 0 0;
}
[data-bs-theme=dark] .s-menu-item {
	background-color: #292c2f;
}
[data-bs-theme=dark] .s-menu-item:hover {
	background-color: #393c3f;
}

/** table **/
.ui-sortable .sortable:hover {
	background-color: var(--bs-secondary-bg);
}

.s-table {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.s-table > thead > tr > th {
	background-color: var(--bs-tertiary-bg);
	vertical-align: middle;
}
.s-table th.created_at, .s-table td.created_at,
.s-table th.updated_at, .s-table td.updated_at {
	width: 110px;
	min-width: 110px;
}

.s-table th.check, .s-table td.check,
.s-table th.error, .s-table td.error,
.s-table th.id, .s-table td.id,
.s-table th.no, .s-table td.no {
	width: 1%;
	white-space: nowrap;
}
.s-table th.actions, .s-table td.actions {
	width: 1%;
	white-space: nowrap;
}
.s-table td.actions button {
	padding: 6px 8px;
}

.s-table td > ol {
	padding-left: 20px;
}
.s-table td pre {
	background-color: transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
}

.s-table td > pre, .s-table td > div {
	max-height: 3em;
	overflow-y: auto;
}
.s-table td > div > hr {
	border-top: 1px dashed #00f;
}
.s-table td.error * {
	color: #a94442;
}
.s-table tr.ui-blink-1s td, .s-table tr.ui-blink-1s2 td {
	background-color: transparent;
}

/** popup **/
.s-popup-confirm .ui-popup-body {
	min-height: 90px;
	min-width: 300px;
}
.s-popup-confirm .msg {
	padding: 5px 10px 5px 70px;
	white-space: pre-wrap;
}
.s-popup-confirm .icon {
	position: absolute;
}

.s-popup-detail {
	width: 80vw;
	min-width: 600px;
}
.s-popup-detail.wide {
	width: 90vw;
}
.s-popup-detail.w600 {
	width: 600px;
}
.s-popup-detail.w800 {
	width: 800px;
}
.s-popup-detail.w1000 {
	width: 1000px;
}
.s-popup-detail.mw600 {
	max-width: 600px;
}
.s-popup-detail.mw800 {
	max-width: 800px;
}
.s-popup-detail.mw1000 {
	max-width: 1000px;
}
.s-popup-detail .ui-popup-body {
	max-height: 70vh;
	overflow-y: auto;
}
.s-popup-detail.wide .ui-popup-body {
	max-height: 80vh;
}
.s-popup-detail .ui-popup-body pre {
	white-space: pre-wrap;
}
.s-popup-detail > .prev, .s-popup-detail > .next {
	background-color: var(--bs-body-bg);
	border: solid 1px var(--bs-secondary);
	border-radius: 24px;
	cursor: pointer;
	display: none;
	width: 48px;
	height: 48px;
	position: absolute;
	bottom: 15px;
}
.s-popup-detail > .prev {
	left: 15px;
}
.s-popup-detail > .next {
	right: 15px;
}
.s-popup-detail > .prev:before, .s-popup-detail > .next:after {
	border-style: solid;
	border-width: 6px 0 0 0;
	border-color: var(--bs-secondary);
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 16px;
}
.s-popup-detail > .prev:before {
	border-left-width: 6px;
	left: 16px;
	transform: rotate(-45deg);
}
.s-popup-detail > .next:after {
	border-right-width: 6px;
	right: 16px;
	transform: rotate(45deg);
}
.s-popup-detail > .prev:hover, .s-popup-detail > .next:hover {
	background-color: var(--bs-secondary);
}
.s-popup-detail > .prev:hover:before, .s-popup-detail > .next:hover:after {
	border-color: var(--bs-light);
}

.s-popup-error .ui-popup-body {
	color: #a94442;
	min-width: 400px;
	max-width: 600px;
	white-space: pre-wrap;
	word-break: break-all;
}


