{{$p := .Pet}}
<div class="ui-popup-header">
	<h4>{{I "edit"}}
		{{T .Loc "pet.detail.header"}}
		{{if ne $p.ID 0}}#{{$p.ID}}{{end}}
	</h4>
</div>
<div class="ui-popup-body grey">
	<form class="ui-form lined">
		<input type="hidden" id="pet_detail_id" name="id" value="{{$p.ID}}"/>
		<div class="row">
			<label class="col-md-2 col-form-label required">{{T .Loc "pet.name"}}</label>
			<div class="col-md-10">
				<input name="name" type="text" class="form-control" maxlength="100" textclear value="{{$p.Name}}">
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label">{{T .Loc "pet.photo"}}</label>
			{{if ne $p.ID 0}}
			<div class="col-md-5"><img src="{{.Base}}/files{{$p.PhotoURI}}"></div>
			<div class="col-md-5">
			{{else}}
			<div class="col-md-10">
			{{end}}
				<div data-spy="uploader" data-upload-remover="true" data-dnload-view="true"
					data-upload-url="{{.Base}}/files/upload" data-dnload-url="{{.Base}}/files$">
					<input type="file" name="file" class="ui-uploader-file" accept="image/*" style="display:none"/>
					<a class="btn btn-sm btn-secondary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label required">{{T .Loc "pet.gender"}}</label>
			<div class="col-md-4">
				{{Radios "Name=" "gender" "List=" .PetGenderMap "Value=" $p.Gender}}
			</div>
			<label class="col-md-2 col-form-label required">{{T .Loc "pet.born_at"}}</label>
			<div class="col-md-4">
				<input name="born_at" type="date" class="form-control" value="{{DATE $p.BornAt}}">
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label required">{{T .Loc "pet.origin"}}</label>
			<div class="col-md-10">
				{{Select "Name=" "origin" "List=" .PetOriginMap "Value=" $p.Origin "class=" "wide col2" "data-spy=" "niceSelect"}}
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label required">{{T .Loc "pet.temper"}}</label>
			<div class="col-md-10">
				{{Radios "Name=" "temper" "List=" .PetTemperMap "Value=" $p.Temper}}
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label">{{T .Loc "pet.habits"}}</label>
			<div class="col-md-10">
				{{Checks "Name=" "habits" "List=" .PetHabitsMap "Values=" $p.Habits}}
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label">{{T .Loc "pet.amount"}}</label>
			<div class="col-md-4">
				<input name="amount" type="number" class="form-control" value="{{$p.Amount}}">
			</div>
			<label class="col-md-2 col-form-label">{{T .Loc "pet.price"}}</label>
			<div class="col-md-4">
				<input name="price" type="number" class="form-control" value="{{$p.Price}}">
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label">{{T .Loc "pet.shop_name"}}</label>
			<div class="col-md-4">
				<input name="shop_name" type="text" class="form-control" maxlength="200" textclear value="{{$p.ShopName}}">
			</div>
			<label class="col-md-2 col-form-label">{{T .Loc "pet.shop_address"}}</label>
			<div class="col-md-4">
				<input name="shop_address" type="text" class="form-control" maxlength="200" textclear value="{{$p.ShopAddress}}">
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label">{{T .Loc "pet.shop_telephone"}}</label>
			<div class="col-md-4">
				<input name="shop_telephone" type="text" class="form-control" maxlength="20" textclear value="{{$p.ShopTelephone}}">
			</div>
			<label class="col-md-2 col-form-label">{{T .Loc "pet.shop_link"}}</label>
			<div class="col-md-4">
				<input name="shop_link" type="text" class="form-control" maxlength="1000" textclear value="{{$p.ShopLink}}">
			</div>
		</div>
		<div class="row">
			<label class="col-md-2 col-form-label">{{T .Loc "pet.description"}}</label>
			<div class="col-md-10">
				<textarea name="description" class="form-control" rows="2" autosize enterfire textclear>{{$p.Description}}</textarea>
			</div>
		</div>
		<button type="submit" class="hidden"></button>
	</form>
</div>
<div class="ui-popup-footer">
	<button type="submit" class="btn btn-primary">{{I "save"}} {{T .Loc "button.save"}}</button>
	<button type="button" class="btn btn-secondary close" popup-dismiss="true">{{I "close"}} {{T .Loc "button.close"}}</button>
</div>
<i class="prev" action="edit"></i>
<i class="next" action="edit"></i>
