{{MapSet .Ctx.Attrs "astyles" (Array "admin/jobctrl.css")}}
{{MapSet .Ctx.Attrs "ascripts" (Array "admin/jobctrl.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "demos.pets.catcreate"}}<span>{{T .Loc "menu.demos.pets.catcreate"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div class="well">{{T .Loc "pet.create.well.cat"}}</div>

		<form id="job_form" class="ui-form grey padded" data-form="{{T .Loc "job.label.parameter"}}" data-copy="{{T .Loc "button.copy"}}">
			<div class="row">
				<label class="col-md-2 col-form-label">{{T .Loc "pet.create.items"}}</label>
				<div class="col-md-10">
					<input type="number" class="form-control" name="items" size="7" min="1" max="1000" value="{{.Arg.Items}}">
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">{{T .Loc "pet.create.delay"}}</label>
				<div class="col-md-10">
					<div class="input-group w-auto">
						<input type="number" class="form-control" name="delay" size="7" min="0" max="1000" value="{{.Arg.Delay}}">
						<span class="input-group-text">{{T .Loc "pet.create.millisecond"}}</span>
					</div>
				</div>
			</div>
		</form>

		<div class="container">
			<div class="row">
				<div class="offset-md-2 col">
					<button id="job_start" class="btn btn-success" disabled data-processing="{{T .Loc "button.processing"}}">{{I "start"}} <span>{{T .Loc "button.start"}}</span></button>
					<button id="job_abort" class="btn btn-danger" disabled>{{I "stop"}} {{T .Loc "button.stop"}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "job_list" .}}

{{template "main_footer" .}}