{{MapSet .Ctx.Attrs "astyles" (Array "jobchain.css")}}
{{MapSet .Ctx.Attrs "ascripts" (Array "jobchain.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "demos.pets.reset"}}<span>{{T .Loc "menu.demos.pets.reset"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div class="well">{{T .Loc "pet.reset.well"}}</div>

		<form id="jobchain_form" class="ui-form grey padded">
			{{template "jobchain_jobarg" .}}
		</form>

		<div class="ui-form padded">
			<div class="row">
				<div class="offset-md-2 col">
					<button id="jobchain_start" class="btn btn-success" disabled data-processing="{{T .Loc "button.processing"}}">{{I "start"}} <span>{{T .Loc "button.start"}}</span></button>
					<button id="jobchain_cancel" class="btn btn-danger" disabled>{{I "stop"}} {{T .Loc "button.stop"}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "jobchain_list" .}}

{{template "main_footer" .}}