{{MapSet .Ctx.Attrs "styles" (Array "demos/pets.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "demos/pets.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="ui-headline">
		<ol class="breadcrumb">
			<li class="active"><i class="{{T .Loc "icon.demos.pets"}}"></i> {{T .Loc "menu.demos.pets"}}</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-md-6 ui-toolbar">
			<button class="btn btn-sm btn-outline-danger" popup-target="#pets_deletesel_popup" enableby="#pets_list td.check input">
				<i class="{{T .Loc "icon.delete"}}"></i> {{T .Loc "button.deletesel"}}
			</button>
			<button class="btn btn-sm btn-outline-danger" popup-target="#pets_deleteall_popup">
				<i class="{{T .Loc "icon.deleteall"}}"></i> {{T .Loc "button.deleteall"}}
			</button>
			<button class="btn btn-sm btn-outline-primary" id="pets_editsel" enableby="#pets_list td.check input">
				<i class="{{T .Loc "icon.editsel"}}"></i> {{T .Loc "button.editsel"}}
			</button>
			<button class="btn btn-sm btn-outline-primary" id="pets_editall">
				<i class="{{T .Loc "icon.editall"}}"></i> {{T .Loc "button.editall"}}
			</button>
		</div>
		<div class="col-md-6 ui-toolbar text-end">
			<button id="pets_new" class="btn btn-sm btn-outline-primary"><i class="{{T .Loc "icon.new"}}"></i> {{T .Loc "button.new"}}</button>
			<button id="pets_export" class="btn btn-sm btn-outline-primary"><i class="{{T .Loc "icon.dnload"}}"></i> {{T .Loc "button.export"}}</button>
		</div>
	</div>

	<div id="pets_alert">{{template "alerts" .}}</div>
	
	<fieldset id="pets_listfset" class="ui-fieldset collapsed" data-spy="fieldset">
		<legend>{{T .Loc "button.search"}}</legend>
		<form id="pets_listform" class="form-horizontal grey" method="POST">
			<input type="hidden" name="_token_" value="{{.Token}}"/>
			<input type="hidden" name="p" value="{{.Q.Page}}"/>
			<input type="hidden" name="l" value="{{.Q.Limit}}"/>
			<input type="hidden" name="c" value="{{.Q.Col}}"/>
			<input type="hidden" name="d" value="{{.Q.Dir}}"/>

			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.id"}}</label>
				<div class="col-sm-10">
					<input name="id" type="text" class="form-control" textclear value="{{if ne .Q.ID 0}}{{.Q.ID}}{{end}}"/>
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.name"}}</label>
				<div class="col-sm-10">
					<input name="name" type="text" class="form-control" textclear value="{{.Q.Name}}"/>
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.gender"}}</label>
				<div class="col-sm-10">
					{{Checks "List=" .PetGenderMap.Iterator "Name=" "gender" "Values=" .Q.Gender}}
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.born_at"}}</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" name="born_from">
					～
					<input type="date" class="form-control" name="born_to">
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.origin"}}</label>
				<div class="col-sm-10">
					{{Select "List=" .PetOriginMap.Iterator "Name=" "origin" "Values=" .Q.Origin "Multiple=" true "class=" "col2 wide" "data-spy=" "niceSelect"}}
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.temper"}}</label>
				<div class="col-sm-10">
					{{Checks "List=" .PetTemperMap.Iterator "Name=" "temper" "Values=" .Q.Temper}}
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.habits"}}</label>
				<div class="col-sm-10">
					{{Checks "List=" .PetHabitsMap.Iterator "Name=" "habits" "Values=" .Q.Habits}}
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.amount"}}</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="amount_min" size="16">
					～
					<input type="number" class="form-control" name="amount_max" size="16">
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.price"}}</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="price_min" size="16">
					～
					<input type="number" class="form-control" name="price_max" size="16">
				</div>
			</div>
			<div class="row py-1">
				<label class="col-sm-2 col-form-label">{{T .Loc "pet.shop_name"}}</label>
				<div class="col-sm-10">
					<input name="shop_name" type="text" class="form-control" textclear value="{{.Q.ShopName}}"/>
				</div>
			</div>
			<div class="row py-1">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" class="btn btn-primary"><i class="{{T .Loc "icon.search"}}"></i> {{T .Loc "button.search"}}</button>
					<button type="reset" class="btn btn-secondary"><i class="{{T .Loc "icon.clear"}}"></i> {{T .Loc "button.clear"}}</button>
				</div>
			</div>
		</form>
	</fieldset>

	<div id="pets_list"></div>
</div>

<div id="pet_maps" class="hidden"
	data-gender="{{JSON .PetGenderMap}}"
	data-origin="{{JSON .PetOriginMap}}"
	data-temper="{{JSON .PetTemperMap}}"
	data-habits="{{JSON .PetHabitsMap}}"
></div>

<div id="pets_deletesel_popup" class="ui-popup s-popup-confirm" data-spy="popup" tabindex="-1"
	popup-mask="true" popup-keyboard="false" popup-mouse="false">
	<form>
		<div class="ui-popup-body">
			<i class="icon fas fa-2x fa-fw fa-circle-exclamation text-danger"></i>
			<div class="msg">{{T .Loc "pet.confirm.deletesel"}}</div>
		</div>
		<div class="ui-popup-footer">
			<button type="submit" class="btn btn-danger"><i class="fas fa-check"></i> {{T .Loc "button.ok"}}</button>
			<button type="button" class="btn btn-secondary" popup-dismiss="true"><i class="fas fa-times"></i> {{T .Loc "button.cancel"}}</button>
		</div>
	</form>
</div>

<div id="pets_deleteall_popup" class="ui-popup s-popup-confirm" data-spy="popup" tabindex="-1"
	popup-mask="true" popup-keyboard="false" popup-mouse="false">
	<form>
		<div class="ui-popup-body">
			<i class="icon fas fa-2x fa-fw fa-exclamation-triangle text-danger"></i>
			<div class="msg">{{T .Loc "pet.confirm.deleteall"}}</div>
		</div>
		<div class="ui-popup-footer">
			<button type="submit" class="btn btn-danger"><i class="fas fa-check"></i> {{T .Loc "button.ok"}}</button>
			<button type="button" class="btn btn-secondary" popup-dismiss="true"><i class="fas fa-times"></i> {{T .Loc "button.cancel"}}</button>
		</div>
	</form>
</div>

<div id="pets_bulkedit_popup" class="ui-popup s-popup-detail w800" data-spy="popup" tabindex="-1"
	popup-position="center" popup-keyboard="false" popup-mouse="false" popup-mask="false" popup-closer="true">
	<div class="ui-popup-body">
		<h4><i class="{{T .Loc "icon.edit"}}"></i>
			<span class="editsel">{{T .Loc "button.editsel"}}</span>
			<span class="editall">{{T .Loc "button.editall"}}</span>
		</h4>
	</div>
	<form class="ui-popup-body form-horizontal grey lined" autocomplete="off">
		<input type="hidden" name="_token_" value="{{.Token}}"/>
		<input type="hidden" name="id"/>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label required">{{T .Loc "pet.gender"}} <input type="checkbox"></label>
			<div class="col-sm-10">
				{{Radios "Name=" "gender" "List=" .PetGenderMap.Iterator "Value=" "M" "Disabled=" true}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label required">{{T .Loc "pet.born_at"}} <input type="checkbox" name="uborn_at" value="true"></label>
			<div class="col-sm-10">
				<input name="born_at" type="date" class="form-control" disabled>
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label required">{{T .Loc "pet.origin"}} <input type="checkbox" data-niceselect="true"></label>
			<div class="col-sm-10">
				{{Select "Name=" "origin" "List=" .PetOriginMap.Iterator "class=" "wide col2" "data-spy=" "niceSelect" "Disabled=" true}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Loc "pet.temper"}} <input type="checkbox"></label>
			<div class="col-sm-10">
				{{Radios "Name=" "temper" "List=" .PetTemperMap.Iterator "Value=" "N" "Disabled=" true}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Loc "pet.habits"}} <input type="checkbox" name="uhabits" value="true"></label>
			<div class="col-sm-10">
				{{Checks "Name=" "habits" "List=" .PetHabitsMap.Iterator "Disabled=" true}}
			</div>
		</div>
		<button type="submit" class="hidden"></button>
	</form>
	<div class="ui-popup-footer">
		<button type="submit" class="btn btn-primary" enableby="#pets_bulkedit_popup .col-form-label > input"><i class="fas fa-save"></i> {{T .Loc "button.update"}}</button>
		<button type="button" class="btn btn-secondary" popup-dismiss="true"><i class="fas fa-times"></i> {{T .Loc "button.cancel"}}</button>
	</div>
</div>

<div id="pets_detail_popup" class="ui-popup s-popup-detail w800" data-spy="popup" tabindex="-1"
	popup-position="center" popup-keyboard="false" popup-mouse="false" popup-mask="false" popup-closer="true" popup-loader="true"
	popup-focus="#pet_detail_name"></div>

{{template "main_footer" .}}