{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2><i class="{{T .Loc "icon.demos.tags"}}"></i><span>{{T .Loc "menu.demos.tags"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div class="well text-center">{{T .Loc "demos.tags.well"}}</div>

		<fieldset id="tags_alert" class="ui-fieldset collapsed" data-spy="fieldset">
			<legend>Alerts</legend>
			{{template "alerts" .}}
		</fieldset>
		
		<form id="tags_form" class="ui-form lined" method="GET">
			<div class="row">
				<label class="col-md-2 col-form-label required">Text</label>
				<div class="col-md-10">
					<input name="text" class="form-control" textclear value="{{.Arg.Text}}"/>
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Checks</label>
				<div class="col-md-10">
					{{Checks "Name=" "checks" "List=" .ChecksList "Values=" .Arg.Checks}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Radios</label>
				<div class="col-md-10">
					{{Radios "Name=" "radios" "List=" .RadiosList "Value=" .Arg.Radios "class=" "vertical"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Select</label>
				<div class="col-md-10">
					{{Select "Name=" "select" "List=" .SelectList "Value=" .Arg.Select "class=" "form-select"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Textarea</label>
				<div class="col-md-10">
					<textarea name="textarea" class="form-control" rows="8" autosize textclear enterfire="true">{{.Arg.Textarea}}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="offset-md-2 col-md-10">
					<button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> {{T .Loc "button.submit"}}</button>
					<button type="reset" class="btn btn-secondary"><i class="fas fa-undo"></i> {{T .Loc "button.reset"}}</button>
				</div>
			</div>
		</form>
	</div>
</div>

{{template "main_footer" .}}