{{MapSet .Ctx.Attrs "styles" (Array "demos/tags.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "demos/tags.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="ui-headline">
		<ol class="breadcrumb">
			<li class="active"><i class="{{T .Locale "icon.tags"}}"></i> {{T .Locale "menu.tags"}}</li>
		</ol>
	</div>

	<div class="well card text-bg-light">{{T .Locale "demo.tags.well"}}</div>

	<form id="tags_form" class="form-horizontal lined" method="GET">
		<div class="row py-3">
			<label class="col-md-2 col-form-label required">Text</label>
			<div class="col-md-10">
				<input name="text" class="form-control" textclear value="{{.Arg.Text}}"/>
			</div>
		</div>
		<div class="row py-3">
			<label class="col-md-2 col-form-label">Checks</label>
			<div class="col-md-10">
				{{Checks "List=" .ChecksList.Iterator "Value=" .Arg.Checks "Name=" "checks"}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-md-2 col-form-label">Radios</label>
			<div class="col-md-10">
				{{Radios "List=" .RadiosList.Iterator "Value=" .Arg.Radios "Name=" "radios" "class=" "vertical"}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-md-2 col-form-label">Select</label>
			<div class="col-md-10">
				{{Select "List=" .SelectList.Iterator "Value=" .Arg.Select "Name=" "select" "class=" "form-control"}}
			</div>
		</div>
		<div class="row py-3">
			<label class="col-md-2 col-form-label">Textarea</label>
			<div class="col-md-10">
				<textarea name="textarea" class="form-control" rows="8" autosize textclear enterfire="true">{{.Arg.Textarea}}</textarea>
			</div>
		</div>
		<div class="row py-3">
			<div class="offset-md-2 col-md-10">
				<button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> {{T .Locale "button.submit"}}</button>
				<button type="reset" class="btn btn-secondary"><i class="fas fa-undo"></i> {{T .Locale "button.reset"}}</button>
			</div>
		</div>
	</form>
</div>

{{template "main_footer" .}}