{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "demos.tags"}}<span>{{T .Loc "menu.demos.tags"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div class="well text-center">{{T .Loc "demos.tags.well"}}</div>

		<fieldset id="tags_alert" class="ui-fieldset collapsed" data-spy="fieldset">
			<legend>Alerts</legend>
			{{template "alerts" .}}
		</fieldset>
		
		<form id="tags_form" class="ui-form lined" autocomplete="off">
			<div class="row">
				<label class="col-md-2 col-form-label required">Text</label>
				<div class="col-md-10">
					<input name="text" class="form-control" textclear value="{{.Arg.Text}}"/>
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Horizontal Checks</label>
				<div class="col-md-10">
					{{Checks "Name=" "hchecks" "List=" .ChecksList "Values=" .Arg.Hchecks}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Vertical Checks</label>
				<div class="col-md-10">
					{{Checks "Name=" "vchecks" "List=" .ChecksList "Values=" .Arg.Vchecks "class=" "vertical"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Ordered Checks</label>
				<div class="col-md-10">
					{{Checks "Name=" "ochecks" "List=" .ChecksList "Values=" .Arg.Ochecks "Ordered=" true "class=" "vertical"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Horizontal Radios</label>
				<div class="col-md-10">
					{{Radios "Name=" "hradios" "List=" .RadiosList "Value=" .Arg.Hradios}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Vertical Radios</label>
				<div class="col-md-10">
					{{Radios "Name=" "vradios" "List=" .RadiosList "Value=" .Arg.Vradios "class=" "vertical"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Form Select</label>
				<div class="col-md-10">
					{{Select "Name=" "fselect" "List=" .SelectList "Value=" .Arg.Fselect "class=" "form-select"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Nice Select</label>
				<div class="col-md-10">
					{{Select "Name=" "nselect" "List=" .SelectList "Value=" .Arg.Nselect "data-spy=" "niceSelect"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Multiple Select</label>
				<div class="col-md-10">
					{{Select "Name=" "mselect" "List=" .SelectList "Values=" .Arg.Mselect "Multiple=" true "data-spy=" "niceSelect" "class=" "wide"}}
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 col-form-label">Textarea</label>
				<div class="col-md-10">
					<textarea name="textarea" class="form-control" rows="8" autosize textclear enterfire="true">{{.Arg.Textarea}}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="offset-md-2 col">
					<button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> {{T .Loc "button.submit"}}</button>
					<button type="reset" class="btn btn-secondary"><i class="fas fa-undo"></i> {{T .Loc "button.reset"}}</button>
				</div>
			</div>
		</form>
	</div>
</div>

{{template "main_footer" .}}