{{MapSet .Ctx.Attrs "styles" (Array "demos/tags.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "demos/tags.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="ui-headline">
		<ol class="breadcrumb">
			<li class="active"><i class="{{T .Loc "icon.demos.uploads"}}"></i> {{T .Loc "menu.demos.uploads"}}</li>
		</ol>
	</div>

	<div class="well">{{T .Loc "demos.uploads.well"}}</div>

	<hr>
	<h4>{{T .Loc "demos.uploads.label.single"}}</h4>
	<div id="single"
		data-upload-url="{{.Base}}/files/upload"
		data-dnload-url="{{.Base}}/files$"
		data-spy="uploader">
		
		<input type="hidden" name="demo" class="ui-uploader-data" value="single"/>
		<input type="file" name="file" class="ui-uploader-file" accept="image/*" style="display:none"/>
		<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
	</div>

	<hr>
	<h4>{{T .Loc "demos.uploads.label.multi"}}</h4>
	<div id="multi"
		data-upload-url="{{.Base}}/files/upload"
		data-dnload-url="{{.Base}}/files$"
		data-spy="uploader">

		<input type="hidden" name="demo" class="ui-uploader-data" value="multi"/>
		<input type="file" name="file" multiple class="ui-uploader-file" accept="image/*" style="display:none"/>
		<div class="text-center">
			<p>{{T .Loc "demos.uploads.label.dragdrop"}}</p>
			<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
		</div>
	</div>

	<hr>
	<h4>{{T .Loc "demos.uploads.label.multi_img"}}</h4>
	<div id="multi2"
		data-upload-url="{{.Base}}/files/upload"
		data-dnload-url="{{.Base}}/files$"
		data-upload-remover="true"
		data-dnload-view="true"
		data-spy="uploader">

		<input type="hidden" name="demo" class="ui-uploader-data" value="multi"/>
		<input type="file" name="file" multiple class="ui-uploader-file" accept="image/*" style="display:none"/>
		<div class="text-center">
			<p>{{T .Loc "demos.uploads.label.dragdrop"}}</p>
			<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
		</div>
	</div>

	<hr>
	<h4>{{TF .Loc "demos.uploads.label.multi_con" 5}}</h4>
	<div id="multi2"
		data-upload-url="{{.Base}}/files/upload"
		data-dnload-url="{{.Base}}/files$"
		data-upload-limit="5"
		data-spy="uploader">

		<input type="hidden" name="demo" class="ui-uploader-data" value="multi"/>
		<input type="file" name="file" multiple class="ui-uploader-file" accept="image/*" style="display:none"/>
		<div class="text-center">
			<p>{{T .Loc "demos.uploads.label.dragdrop"}}</p>
			<a class="btn btn-sm btn-primary ui-uploader-btn">{{T .Loc "button.browse"}}</a>
		</div>
	</div>

</div>

{{template "main_footer" .}}