#auditlogs_table th {
	white-space: nowrap;
}
#auditlogs_table th.user, #auditlogs_table th.cip {
	width: 160px;
	min-width: 160px;
}
#auditlogs_table td.userinfo,
#auditlogs_table th.funact, #auditlogs_table td.funact {
	width: 320px;
	min-width: 320px;
}
#auditlogs_table td.detail > pre {
	cursor: pointer;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	max-height: 5rem;
}
