.ccc {
	margin-top: 20px;
}
.ccc > ul.nav {
	margin-bottom: 20px;
}
.ccc > ul.nav > li {
	margin-right: 15px;
}
@media (min-width: 992px) {
	.ccc {
		display: flex;
	}
	.ccc > ul.nav {
		flex-direction: column;
		min-width: 180px;
		max-width: 180px;
	}
}
.ccc .tab-content {
	width: 100%;
}

label.role-super {
	color: #A02B93;
}
label.role-devel {
	color: #045C92;
}
