.ccc {
	margin-top: 20px;
}
.ccc > ul.nav {
	margin-bottom: 20px;
}
.ccc > ul.nav > li {
	margin-right: 15px;
}
@media (min-width: 992px) {
	.ccc {
		display: flex;
	}
	.ccc > ul.nav {
		flex-direction: column;
		flex-wrap: nowrap;
		min-width: 200px;
		max-width: 200px;
		max-height: calc(100vh - 260px);
		overflow-y: auto;
	}
}
.ccc .tab-content {
	width: 100%;
	max-height: calc(100vh - 260px);
	overflow-y: auto;
}

label[editor="$"] {
	color: #A02B93;
}
label[editor="%"] {
	color: #045C92;
}

.schedule > select {
	margin-right: 0.5em;
}
