#job_form {
	margin-bottom: 20px;
}
fieldset > form, fieldset > form#job_form {
	margin-bottom: 0;
}

#job_list {
	margin-top: 40px;
}
#job_list.stacked {
	display: flex;
}
#job_list > ul.nav-pills {
	padding-right: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 84px;
	scrollbar-width: thin;
}
#job_list > ul.nav-tabs {
	padding: 2px 10px 0px 10px;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
	white-space: nowrap;
}
#job_list > ul.nav-stacked {
	margin-right: 10px;
	white-space: nowrap;
}
#job_list > ul.nav-tabs > li, #job_list > ul.nav-pills > li {
	float: none;
	display: inline-block;
}
#job_list > ul.nav-pills > li {
	margin-left: 2px;
}

#job_list li i {
	font-size: 150%;
	margin-right: 5px;
	vertical-align: middle;
}
#job_list li[status=A] i {
	color: #a94442;
}
#job_list li[status=C] i {
	color: #3c763d;
}
#job_list li[status=P] i {
	color: #aaa;
}
#job_list li[status=R] i {
	color: #00f;
}
#job_list .nav-pills > li[status=A] > a.active > i {
	color: #f00;
}
#job_list .nav-pills > li[status=C] > a.active > i {
	color: #0f0;
}

#job_list .tab-content {
	padding-top: 20px;
	width: 100%;
}
#job_list fieldset {
	margin-bottom: 20px;
	position: relative;
}
#job_list form a.ps {
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
}
#job_list form a.ps > i {
	margin-right: 7px;
}

#job_list .job-tools {
	text-align: right;
	margin-bottom: 15px;
}
.job-tools button > i {
	margin-right: 8px;
}

#job_list table {
	font-family: Menlo, Monaco, Consolas, monospace;
}
#job_list tr>td {
	padding: 1px 5px;
	vertical-align: top;
}
#job_list tr>td:first-child {
	white-space: nowrap;
}
#job_list tr>td:last-child {
	width: 100%;
	white-space: pre-wrap;
	word-break: break-all;
}

#job_list tr.F td {
	color: #f00;
}
#job_list tr.E td {
	color: #a94442;
}
#job_list tr.W td {
	color: #8a6d3b;
}
#job_list tr.I td {
	color: #337ab7;
}
#job_list tr.D td {
	color: #333;
}
#job_list tr.T td {
	color: #888;
}
