:root, [data-bs-theme=light] {
	--js-aborted: var(--bs-danger);
	--js-completed: var(--bs-success);
	--js-pending-bg: #dfe8ed;
	--js-pending-fg: #333;
	--js-running: var(--bs-primary);
}
[data-bs-theme=dark] {
	--js-pending-bg: #666;
	--js-pending-fg: #ccc;
}

fieldset > form {
	margin-bottom: 0;
}
#job_form {
	margin-bottom: 20px;
	margin-bottom: 0;
}

#job_history {
	margin: 40px 0px;
}

#job_tabs {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 94px;
	scrollbar-width: thin;
}
#job_tabs > ul.nav-pills > li {
	border: solid 1px transparent;
	margin-left: 2px;
}
#job_tabs > ul.nav-pills .nav-link {
	border: solid 1px transparent;
}
#job_tabs > ul.nav-pills .nav-link.active,
#job_tabs > ul.nav-pills .show > .nav-link {
	background-color: transparent;
	border-color: var(--bs-nav-pills-link-active-bg);
	color: var(--bs-nav-link-color);
}
#job_tabs > ul > li i {
	font-size: 150%;
	margin-right: 5px;
	vertical-align: middle;
}
#job_tabs > ul > li[status=A] i {
	color: var(--js-aborted);
}
#job_tabs > ul > li[status=C] i {
	color: var(--js-completed);
}
#job_tabs > ul > li[status=P] i {
	color: var(--js-pending-bg);
}
#job_tabs > ul > li[status=R] i {
	color: var(--js-running);
}

#job_list {
	margin-top: 20px;
	width: 100%;
}
#job_list fieldset {
	margin-bottom: 20px;
	position: relative;
}
#job_list form.grey, #job_list .input-group-text {
	background-color: transparent;
}
#job_list form button.copy {
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
}
#job_list form button.copy > i {
	margin-right: 7px;
}

.jobtools {
	text-align: left;
}
.jobtools > * {
	margin-bottom: 15px;
}
.jobtools > button {
	float: right;
}
.jobtools > button > i {
	margin-right: 8px;
}

#job_list table {
	font-family: Menlo, Monaco, Consolas, monospace;
	--bs-table-bg: transparent;
}
#job_list tr > td {
	padding: 1px 5px;
	vertical-align: top;
}
#job_list tr > td:first-child {
	width: 1px;
	white-space: nowrap;
}
@media (max-width: 767px) {
	#job_list tr > td:first-child {
		width: 1%;
		white-space: normal;
	}
}
#job_list tr > td:nth-child(2) {
	width: 1px;
	white-space: nowrap;
}
#job_list tr > td:last-child {
	width: 100%;
	white-space: pre-wrap;
	word-break: break-all;
}

#job_list tr.F td {
	color: #f00;
}
#job_list tr.E td {
	color: #a94442;
}
#job_list tr.W td {
	color: #8a6d3b;
}
#job_list tr.I td {
	color: #337ab7;
}
#job_list tr.D td {
	color: #333;
	display: none;
}
#job_list tr.T td {
	color: #888;
	display: none;
}
