{{MapSet .Ctx.Attrs "astyles" (Array "jobctrl.css")}}
{{MapSet .Ctx.Attrs "ascripts" (Array "jobctrl.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "admin.users.import"}}<span>{{T .Loc "menu.admin.users.import"}}</span></h2>
		<div class="ms-auto"></div>
		<a class="btn btn-secondary" href="./sample" target="_blank">{{I "dnload"}} {{T .Loc "button.sample"}}</a>
	</div>
	<div class="s-section-body">
		<div class="well">{{T .Loc "user.import.csv.well"}}</div>

		<form id="job_form" class="ui-form grey padded" autocomplete="off" data-form="{{T .Loc "job.label.parameter"}}">
			<div class="row">
				<label class="col-md-2 col-form-label">{{T .Loc "user.import.csv.file"}}</label>
				<div class="col-md-10">
					<input type="file" name="file" accept=".csv" class="form-control">
				</div>
			</div>
		</form>

		<div class="container">
			<div class="row">
				<div class="offset-md-2 col">
					<button id="job_start" class="btn btn-success" disabled data-processing="{{T .Loc "button.processing"}}">{{I "start"}} <span>{{T .Loc "button.start"}}</span></button>
					<button id="job_cancel" class="btn btn-danger" disabled>{{I "stop"}} {{T .Loc "button.stop"}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "job_list" .}}

{{template "main_footer" .}}