{{MapSet .Ctx.Attrs "styles" (Array "self/pwdchg.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "self/pwdchg.js")}}

{{template "main_header" .}}

<div class="s-section">
	<div class="ui-headline">
		<ol class="breadcrumb">
			<li class="active"><i class="{{T .Locale "icon.self.pwdchg"}}"></i> {{T .Locale "menu.self.pwdchg"}}</li>
		</ol>
	</div>

	<div id="pwdchg_alert">
		{{template "alerts" .}}
	</div>

	<form id="pwdchg_form" class="form-horizontal" autocomplete="off">
		<input type="hidden" name="_token_" value="{{.Token}}"/>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Locale "pwdchg.oldpwd"}}</label>
			<div class="col-sm-10">
				<input name="oldpwd" type="password" class="form-control" size="40" maxlength="16" textclear/>
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Locale "pwdchg.newpwd"}}</label>
			<div class="col-sm-10">
				<input name="newpwd" type="password" class="form-control" size="40" maxlength="16" textclear/>
			</div>
		</div>
		<div class="row py-3">
			<label class="col-sm-2 col-form-label">{{T .Locale "pwdchg.conpwd"}}</label>
			<div class="col-sm-10">
				<input name="conpwd" type="password" class="form-control" size="40" maxlength="16" textclear/>
			</div>
		</div>
		<div class="row py-3">
			<div class="offset-sm-2 col-sm-10">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-save"></i>
					{{T .Locale "button.change"}}
				</button>
			</div>
		</div>
	</form>
</div>

{{template "main_footer" .}}