{{MapSet .Ctx.Attrs "ascripts" (Array "login/login.js")}}
{{MapSet .Ctx.Attrs "nosidenavi" true}}

{{template "main_header" .}}
<div class="s-login">
<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "login"}}<span>{{T .Loc "menu.login"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div id="login_alert">
			{{template "alerts" .}}
		</div>

		<div class="well text-center">{{T .Loc "login.well"}}</div>

		<form id="login_form" class="ui-form ui-row-py3" autocomplete="off">
			<input type="hidden" name="origin" value="{{.origin}}"/>
			<div class="row">
				<label class="col-md-3 col-form-label">{{T .Loc "login.username"}}</label>
				<div class="col-md-8">
					<input name="username" type="text" class="form-control" maxlength="250" textclear/>
				</div>
			</div>
			<div class="row">
				<label class="col-md-3 col-form-label">{{T .Loc "login.password"}}</label>
				<div class="col-md-8">
					<input name="password" type="password" class="form-control" maxlength="250" textclear/>
				</div>
			</div>
			<div class="row hidden">
				<label class="col-md-3 col-form-label">{{T .Loc "login.passcode"}}</label>
				<div class="col-md-8">
					<input name="passcode" type="text" class="form-control" maxlength="250" textclear/>
				</div>
			</div>
			<div class="row">
				<div class="offset-md-3 col">
					<button type="submit" class="btn btn-primary">{{I "login"}} {{T .Loc "button.login"}}</button>
				</div>
			</div>
			<div class="row py-4">
				<div class="offset-md-3 col">
					<a href="./pwdrst/">{{T .Loc "login.forgot"}} <i class="fas fa-circle-arrow-right"></i></a>
				</div>
			</div>
		</form>
	</div>
</div>
</div>

{{template "main_footer" .}}