{{MapSet .Ctx.Attrs "ascripts" (Array "login/login.js")}}
{{MapSet .Ctx.Attrs "nosidenavi" true}}

{{template "main_header" .}}

<div class="s-login">
<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "login"}}<span>{{T .Loc "menu.login"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div id="login_alert">
			{{template "alerts" .}}
		</div>

		<div class="well text-center">{{T .Loc "login.well"}}</div>

		<form id="login_form" class="ui-form ui-row-py2" autocomplete="off">
			<input type="hidden" name="origin" value="{{.origin}}"/>
			<div class="row">
				<label class="col-md-3 col-form-label">{{T .Loc "login.username"}}</label>
				<div class="col-md-8">
					<input name="username" type="text" class="form-control" maxlength="200" textclear/>
				</div>
			</div>
			<div class="row">
				<label class="col-md-3 col-form-label">{{T .Loc "login.password"}}</label>
				<div class="col-md-8">
					<input name="password" type="password" class="form-control" maxlength="64" textclear/>
				</div>
			</div>
			<div class="row hidden">
				<label class="col-md-3 col-form-label">{{T .Loc "login.passcode"}}</label>
				<div class="col-md-8">
					<input name="passcode" type="text" class="form-control" maxlength="64" disabled textclear/>
					<div class="desc M hidden">{{T .Loc "login.mfa.mobile.desc"}} <button 
						type="button" class="btn btn-sm btn-outline-primary"
						id="login_mfa_enroll" popup-target="#login_mfa_enroll_popup"
						>{{I "mobile"}} {{T .Loc "login.mfa.mobile.enroll"}}</button></div>
				</div>
			</div>
			<div class="row">
				<div class="offset-md-3 col">
					<button type="submit" class="btn btn-primary">{{I "login"}} {{T .Loc "button.login"}}</button>
				</div>
			</div>
			<div class="row py-4">
				<div class="offset-md-3 col">
					<a href="./pwdrst/">{{T .Loc "login.forgot"}} <i class="fas fa-circle-arrow-right"></i></a>
				</div>
			</div>
		</form>
	</div>
</div>
</div>

<div id="login_mfa_enroll_popup" class="ui-popup s-popup-confirm" data-spy="popup" tabindex="-1"
	popup-mask="true" popup-mouse="false">
	<form>
		<div class="ui-popup-header">
			<h4>{{T .Loc "login.mfa.enroll.header"}}</h4>
		</div>
		<div class="ui-popup-body">
			<i class="icon fas fa-3x fa-fw fa-triangle-exclamation text-warning"></i>
			<div class="msg">{{T .Loc "login.mfa.enroll.confirm"}}</div>
		</div>
		<div class="ui-popup-footer">
			<button type="submit" class="btn btn-warning">{{I "ok"}} {{T .Loc "button.ok"}}</button>
			<button type="button" class="btn btn-secondary" popup-dismiss="true">{{I "cancel"}} {{T .Loc "button.cancel"}}</button>
		</div>
	</form>
</div>

{{template "main_footer" .}}