{{MapSet .Ctx.Attrs "styles" (Array "login/login.css")}}
{{MapSet .Ctx.Attrs "scripts" (Array "login/pwdrst.js")}}
{{MapSet .Ctx.Attrs "nosidenavi" true}}

{{template "main_header" .}}

<div class="s-section">
	<div class="s-section-head">
		<h2><i class="{{T .Loc "icon.login.pwdrst"}}"></i><span>{{T .Loc "menu.login.pwdrst"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div class="well">{{T .Loc "pwdrst.well"}}</div>

		<div id="pwdrst_alert">
			{{template "alerts" .}}
		</div>

		<form id="pwdrst_form" class="form-horizontal" autocomplete="off">
			<input type="hidden" name="_token_" value="{{.Token}}"/>
			<div class="row py-3">
				<label class="col-md-3 col-form-label">{{T .Loc "pwdrst.email"}}</label>
				<div class="col-md-9">
					<input name="email" type="text" class="form-control" maxlength="250" textclear/>
				</div>
			</div>
			<div class="row py-3">
				<div class="offset-md-3 col-md-9">
					<button type="submit" class="btn btn-primary"><i class="{{T .Loc "icon.sendmail"}}"></i> {{T .Loc "button.send"}}</button>
				</div>
			</div>
		</form>
	</div>
</div>

{{template "main_footer" .}}