{{MapSet .Ctx.Attrs "ascripts" (Array "login/pwdrst.js")}}
{{MapSet .Ctx.Attrs "nosidenavi" true}}

{{template "main_header" .}}

<div class="s-login">
<div class="s-section">
	<div class="s-section-head">
		<h2>{{I "login.pwdrst"}}<span>{{T .Loc "menu.login.pwdrst"}}</span></h2>
	</div>
	<div class="s-section-body">
		<div class="well text-center">{{T .Loc "pwdrst.well"}}</div>

		<div id="pwdrst_alert">
			{{template "alerts" .}}
		</div>

		<form id="pwdrst_mail" class="ui-form ui-row-py3" autocomplete="off">
			<div class="row">
				<label class="col-md-3 col-form-label">{{T .Loc "pwdrst.email"}}</label>
				<div class="col-md-8">
					<input name="email" type="text" class="form-control" maxlength="250" textclear/>
				</div>
			</div>
			<div class="row">
				<div class="offset-md-3 col">
					<button type="submit" class="btn btn-primary">{{I "sendmail"}} {{T .Loc "button.send"}}</button>
					<a class="btn btn-secondary" href="/"><i class="fas fa-circle-arrow-right"></i> {{T .Loc "button.home"}}</a>
				</div>
			</div>
		</form>
	</div>
</div>
</div>

{{template "main_footer" .}}